* {
    margin: 0;
    padding: 0;
}
a#list-chap1-list.btn.btn-warning {
    background-color: #d2ff00;
    color: black;
    border-color: #6c757d;
}
ul {
    list-style: none;
}
#topbar {
    background-color: black;
}
#topbar ul li {

}
/* unvisited link */
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
#mainNav {
    color: white;
    top: 0px;
    background-color: black;
    width: 100%;
}
#mainNav a  {
    display: inline;
    padding-left: 5px;
}
p {
    font-size: 20px;
    padding-right: 180px;
    padding-left: 25px;
    color: white;
    margin-bottom: 0px;
}
#blog {
    background-image: url("Keyboard.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#blog p {
    margin-bottom: 0px;
}
#art {
    background-image: url("CityBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#events {
    background-image: url("Code.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    background-color: black;
    color: white;
    padding: 60px;
    margin: 0px;
}
body {
    background-color: black;
}
#home p {
    margin-bottom: 0px;
}
#about p {
    margin-bottom: 0px;
}
#contact p {
    margin-bottom: 0px;
}
#about h1 {
    margin-bottom: 0px;
}
#contact h1 {
    margin-bottom: 0px;
}
a:hover {
    color: white;
}
p {
}
form {
    border: solid;
    padding: 15px;
    background-color: black;
}
h2 {
    padding-bottom: 20px;
    padding-top: 140px;
    color: white;
    font-size: 60px;
}
audio {
    float: right;
    width: 290px;
}
footer {
    background-color: black;
    color: dimgrey;
    width: 100%;
}
